h1 {
    font-family: 'Bree Serif', serif;
    padding-left: 10px;
    color: rgb(218, 98, 0);
}
.slide {
    margin-top: 10px;
    margin-left: 200px;
}

.about {
    margin: 0 30 0 300;
    padding: 40px;
    /* width: 70%; */
    /* align-items: center; */
    text-align: center;
    color: white;
}

/* img {
    opacity: 60%;
} */

body{
    padding: 0;
    margin: 0;
    background-image: url('./about.img/WhatsApp\ Image\ 2020-06-30\ at\ 9.50.51\ AM\ \(1\).jpeg');
    background-size: cover;
}
.navbar{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    background-color: black;
    color: rgb(110, 180, 110);
}
.logo{
    padding-right:36% ;
}
.logo > img{
    height: 100px;
    width: 140px;
}
.links > ul > li{
    display: inline-block;
    padding: 20px 30px 20px 30px;
}
.links > ul > li > a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(110, 180, 110);;
    transition: .2s;
    font-weight: 500;
    font-size: 20px;
}
#active{
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
}
.links > ul > li > a:hover{
    border: 1px solid black;
    padding: 15px;
    border-radius: 4px;
    transition: .2s;
    background-color: rgb(93, 170, 233);;
    color: black;
}
.info {
    background-color: rgb(132, 168, 132);
    padding-left: 80px;
    border-top: groove;
    display: flex;
    /* flex: 2; */
    justify-content: space-between;
    
    width: 100%;
    
}
.info1 {
    width: 1000px;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
}
#page {
    font-size: 24px;
    font-weight: bold;
}
.info > info1 {
    background-color: #f1f1f1;
    width: 10px;
    margin: 10px;
    line-height: 75px;
}
.footer-icon {
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-icon ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.footer-icon ul li {
    font-display: inline-block;
    width: 30px;
    margin: 0px 20px;
    border-radius: 100px;
    background-color: #32cd32;

}
.footer-icon ul li a {
    color: #272727;
    font-size: 20px;
    display: block;
    margin: 10px;
}
.footer-icon ul li a i {
    line-height: 30px;
}