*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slideshow-details{
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    animation: animate 41s infinite;
}

.slideshow-details img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
    animation: zoom 41s infinite;
}
.slideshow-details:nth-child(1),
.slideshow-details:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-details:nth-child(2),
.slideshow-details:nth-child(2) img{
    animation-delay: 8s;
}
.slideshow-details:nth-child(3),
.slideshow-details:nth-child(3) img{
    animation-delay: 16s;
}
.slideshow-details:nth-child(4),
.slideshow-details:nth-child(4) img{
    animation-delay: 24s;
}
.slideshow-details:nth-child(5),
.slideshow-details:nth-child(5) img{
    animation-delay: 32s;
}
.slideshow-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
    color:  whitesmoke;
    background-color: rgba(0, 0, 0, .8);
    transform: translateY(-50%);
    padding: 40px 0 40px 0;
}
.slideshow-details h2{
    font-size: 3rem;
    transform: scale(.9, 2);
    letter-spacing: 5px;
    font-family: sans-serif;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(53, 50, 50, .8);
}
.slideshow-details h3{
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-bottom: 2rem;
    font-family: 'Sail', cursive;
    letter-spacing: 3px;
    color: rgb(218, 98, 0);
}
.slideshow-details p a{
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(14, 117, 177, 0.8);
    color: whitesmoke;
    font-weight: 600;
    transition: .2s;
}
@keyframes animate{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
@keyframes zoom{
    100%{
        transform: scale(1.5);
    }
}
.navbar{
    display: flex;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, .8);
}
.logo{
    padding-right: 65% ;
    display: flex;
    flex-direction: row;
}
.logo > img{
    height: 100px;
    width: 140px;
}
.links > ul > li{
    display: inline-block;
    padding: 30px 30px 15px 20px;
}
.links > ul > li > a{
    text-decoration: none;
    color: white;
    transition: .2s;
    font-weight: 500;
    font-size: 20px;
}
#active{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
.links > ul > li > a:hover{
    border: 1px solid black;
    padding: 15px;
    border-radius: 4px;
    transition: .2s;
    background-color: white;
    color: black;
}
#login{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(218, 98, 0);
}
.header1{
    font-size: xx-large;
    transform: scale(.9, 1.5);
    text-shadow: 2px 2px 2px rgb(180, 180, 180);
    color: whitesmoke;
}
.signup a{
    text-decoration: none;
    border: 1px solid black;
    padding: 20px;
    color: whitesmoke;
}
.slogan{
    color: whitesmoke;
    padding: 60px;
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
}
.referals{
    color: whitesmoke;
    padding-left: 30px;
    text-align: center;
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
}
.managers{
    flex-wrap: wrap;
    margin: 10px 20px;
    width: 45%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.managers img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.gallery{
    padding: 50px 30px;
    background-image: url(./images/background9.jpeg);
}
.gallery img{
    height: 200px;
    width: 300px;
    border-image: 5px solid black;
}
.gallery p{
    font-family: sans-serif;
    font-size: 25px;
}
.main-content{
    margin-top:250px;
}
footer{
position: relative;
bottom: 0px;
width:100%;
background: #111;
/* height: 20px; */
margin-top: 100px;

}
*{
    margin:0;
    padding:0;
    color:white;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.main-content{
    display: flex;

}
.main-content .box{
   flex-basis:50%; 
   padding: 10px 20px;

}
.box h2{
    font-size: 1.125re;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position:relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}
.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}
.left .content .p{
    text-align: justify;
}
.left .content .social{
margin: 20px 0 0 0;
}
.left .content .social a{
    padding:0 2px;
}
.left .content .social a span{
    height:40px;
    width: 40px;
    background: #1a1a1a;
    line-height:40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;
}
.center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #f12020;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
   margin: 10px 0; 
}
.right from .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}
.right from .msg{
    margin-top: 10px;
}
.right from input, .right from textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;

}
.right from input:focus, 
.right from textarea:focus{
   outline-color: #3498db; 

}
.right from input{
    height: 35px;
}
.right from .btn{
    margin-top:10px;
}
.right from .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;

}.right from .btn button:hover{
    background: #000;
}
.bottom center{
 padding:5px;
 font: size 0.9375rem;
 background: #151515;

}.bottom center span{
    color: #656565;

}

.bottom center a{
    color: #f12020;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;

}
@media screen and (max-width:900px){
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .box .content .box{
        margin: 5px 0;
    }
}